<div class="text-center">
  <button
    class="btn btn-dark rounded-pill w-50 mb-4"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >+ Upload</button>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  {{> form}}
</div>